# All values ​​must be enclosed in double quotes to prevent bugs.
# Some values ​​have been provided for the keys to make it easier to understand how to fill them in.

# Time
TIME_ZONE="UTC"

# Nginx
NGINX_PORT="80"
NGINX_EXPOSE_PORT="8081"

# API Consumers
API_CONSUMERS_ADDRESSES="http://localhost:8082,"
API_CONSUMERS_ADDRESSES_SEPARATOR=","

# Repository
REPOSITORY_ROOT_USERNAME="admin"
REPOSITORY_ROOT_PASSWORD="admin"
REPOSITORY_ADAPTER="mysql"
REPOSITORY_HOST="mariadb"
REPOSITORY_DATABASE="gamebase"
REPOSITORY_USERNAME="user"
REPOSITORY_PASSWORD="user"
REPOSITORY_PORT="3306"
REPOSITORY_CHARSET="utf8mb4"
REPOSITORY_EXPOSE_PORT="3312"

# Encryption
ENCRYPTION_METHOD="defuse"
## Sodium
SODIUM_CRYPTO_SECRETBOX_KEY="775fd55acaccfa359a351bf0974007c413ee255ab8640af422331d95111810c8"
## Defuse PHP
DEFUSE_PHP_ENCRYPTION_KEY="def000000533d8964e3608f04db9441438930cd555d2a2f20a8e77b2c5384563412c5873a07c0af42ecee85efbf8de0a0982e0512fd38c4037a628afc1226bdbce919a2e"

# Authentication
## JWT
JWT_SECRET="potato"

# Cache
## Redis
REDIS_SCHEME="tcp"
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_EXPOSE_PORT="6333"