ENVIRONMENT=

MARIADB_DATABASE_DEVELOPMENT_HOST=
MARIADB_DATABASE_DEVELOPMENT_NAME=
MARIADB_DATABASE_DEVELOPMENT_DSN=
MARIADB_DATABASE_DEVELOPMENT_USERNAME=
MARIADB_DATABASE_DEVELOPMENT_PASSWORD=

MARIADB_DATABASE_PRODUCTION_HOST=
MARIADB_DATABASE_PRODUCTION_NAME=
MARIADB_DATABASE_PRODUCTION_DSN=
MARIADB_DATABASE_PRODUCTION_USERNAME=
MARIADB_DATABASE_PRODUCTION_PASSWORD=


