# All values ​​must be enclosed in double quotes to prevent bugs.
# Some values ​​have been provided for the keys to make it easier to understand how to fill them in.

# Project
## Environment
ENVIRONMENT="env"
## Machine
MACHINE="machine"

# Time
TIME_ZONE="America/New_York"

# Nginx
NGINX_PORT="80"
NGINX_EXPOSE_PORT="8081"

# API Consumers
API_CONSUMERS_ADDRESSES="http://localhost:8082,http://localhost:8083"
API_CONSUMERS_ADDRESSES_SEPARATOR=","

# Repository
REPOSITORY_ROOT_USERNAME="test"
REPOSITORY_ROOT_PASSWORD="test"
REPOSITORY_HOST="localhost"
REPOSITORY_DATABASE="database"
REPOSITORY_USERNAME="user"
REPOSITORY_PASSWORD="password"
REPOSITORY_PORT="3306"
REPOSITORY_CHARSET="utf8mb4"
REPOSITORY_EXPOSE_PORT="3312"

# Encryption
## Methods: sodium, defuse
ENCRYPTION_METHOD="method"
## Sodium
SODIUM_CRYPTO_SECRETBOX_KEY="key"
## Defuse PHP
DEFUSE_PHP_ENCRYPTION_KEY="key"

# Authentication
## JWT
JWT_SECRET="secret"

# Cache
## Redis
REDIS_SCHEME="tcp"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_EXPOSE_PORT="6333"