ENVIRONMENT=

DATABASE_ADAPTER=
DATABASE_DSN=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_CHARSET=

SODIUM_CRYPTO_SECRETBOX_KEY=
SODIUM_CRYPTO_SECRETBOX_NONCEBYTES=

JWT_SECRET=

REDIS_HOST=