# All values ​​must be enclosed in double quotes to prevent bugs.
# Some values ​​have been provided for the keys to make it easier to understand how to fill them in.

# Time
TIME_ZONE="America/Sao_Paulo"

# Nginx
NGINX_PORT="80"
NGINX_EXPOSE_PORT="8081"

# API Consumers
API_CONSUMERS_ADDRESSES="http://localhost:8082,"
API_CONSUMERS_ADDRESSES_SEPARATOR=","

# Repository
REPOSITORY_ROOT_USERNAME="admin"
REPOSITORY_ROOT_PASSWORD="tvj3498th34"
REPOSITORY_ADAPTER="mysql"
REPOSITORY_HOST="mariadb"
REPOSITORY_DATABASE="gamebase"
REPOSITORY_USERNAME="user"
REPOSITORY_PASSWORD="t0943ut349"
REPOSITORY_PORT="3306"
REPOSITORY_CHARSET="utf8mb4"
REPOSITORY_EXPOSE_PORT="3312"

# Encryption
ENCRYPTION_METHOD="defuse"
## Sodium
SODIUM_CRYPTO_SECRETBOX_KEY="6dbdcf56f86711f4f6ba4e4092351b9b7533ef057eee862bb382e39eaab2386b"
## Defuse PHP
DEFUSE_PHP_ENCRYPTION_KEY="def0000021d6d97e2fb8c3644ae474e5d64a9e7d33ec967accf103a0773de2a7704bf4302f7574d90825271b874cf76c00b45c816c3e0f6c2ec140f4b30d9511a1382e8e"

# Authentication
## JWT
JWT_SECRET="jwtsecret8329054832765032"

# Cache
## Redis
REDIS_SCHEME="tcp"
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_EXPOSE_PORT="6333"