# Composer
/vendor/

# .env
.env
.env.development.local
.env.development.docker

# PHP CS Fixer
.php-cs-fixer.cache

# PHP Lint
.phplint.cache

# PHPUnit
.phpunit.result.cache

# logs
/logs/

#OpenAPI
/public/docs/*